<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Y + B studio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'font/font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<div class="coming-soon">
		<img src="{% static 'Y+B_logo.jpeg' %}" alt="The Y + B studio" />
		<div class="animation-1">
			<h1>WE'RE ALMOST THERE!</h1>
		</div>
		<div class="animation-2">
			<p>Till then you can write to us at <a href="mailto:studio@yplusb.com">studio@yplusb.com</a> or reach us on <a href="tel:+919464652554"><span>+91 946 465 2554</span></a></p>
		</div>
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'main.js' %}"></script>
</body>
</html>